nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 45px;
  padding-right: 18px;
  background-color: black;
  padding-bottom: 5px;
}
